@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-dismissible text-center cookiealert" role="alert">
        <div class="cookiealert-container">
            We use cookies to track every single move you make.
            <a asp-controller="Home" asp-action="Privacy" class="">Learn more</a>
            <button type="button" class="btn btn-primary navbar-btn acceptcookies col-1" data-cookie-string="@cookieString" aria-label="Close">Accept</button>
        </div>
    </div>

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
    <style>
        .cookiealert {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0 !important;
            z-index: 999;
            border-radius: 0;
            background: #212327 url("images/cubes.png");
            transition: all 500ms ease-out;
            color: #ecf0f1;
        }

        .cookiealert .btn {
            margin-left: 10px;
            vertical-align: baseline;
        }
    </style>
}