@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    @using System.Security.Claims;
}

<div class="container">
    <div class="row">
        <div class="col-6 card">
            <div class="card-body">
                <h2 class="card-title">Leaderboard</h2>
            </div>
        </div>
        <div class="col-5 offset-1 card">
            <div class="card-body">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="card-title">Track your ride</h4>
                    <div class="input-group">
                        <input type="number" id="message" />
                        <div class="input-group-append">
                            <input type="button" id="sendmessage" value="Send" class="btn btn-outline-primary" />
                        </div>
                    </div>

                }
                else
                {
                    <h4 class="card-title">Log in to track your rides</h4>
                }
                <br />
                <h4 class="card-title">Huidige ritjes</h4>
                
                
                <ul id="discussion" class="list-group">
                    @foreach (var item in Model.CurrentRides)
                    {
                        <li><strong>@item.User</strong> @item.RideStartKm</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var messageInput = document.getElementById('message');
            // Set initial focus to message input box.
            messageInput.focus();
            // Start the connection.
            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/chat')
                .build();
            // Create a function that the hub can call to broadcast messages.
            connection.on('addRide', function (id, name, rideStartKm, utcStart) {
                // Html encode display name and message.
                var encodedName = name;
                var encodedMsg = utcStart;
                // Add the message to the page.
                var liElement = document.createElement('li');
                liElement.className = "list-group-item";
                liElement.innerHTML = '<strong> Start ' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);
            });
            // Create a function that the hub can call to broadcast messages.
            connection.on('removeRide', function (id, name, rideEndKm, utcEnd) {
                // Html encode display name and message.
                var encodedName = name;
                var encodedMsg = utcEnd;
                // Add the message to the page.
                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong> End' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);
            });
            // Transport fallback functionality is now built into start.
            connection.start()
                .then(function () {
                    console.log('connection started');
                    document.getElementById('sendmessage').addEventListener('click', function (event) {
                        // Call the Send method on the hub.
                        connection.invoke('StartRide' , '@User.FindFirstValue(ClaimTypes.NameIdentifier)', messageInput.value);
                        // Clear text box and reset focus for next comment.
                        messageInput.value = '';
                        messageInput.focus();
                        event.preventDefault();
                    });
                })
                .catch(error => {
                    console.error(error.message);
                });
        });
    </script>
}